<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs4518.halfway">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.UserProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".activities.LoginActivity" android:theme="@style/AppTheme.Purple" /> -->
        <activity
            android:name=".activities.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.Purple" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.Purple" />
        <activity
            android:name=".activities.CreateProfileActivity"
            android:label="@string/title_activity_create_profile"
            android:theme="@style/AppTheme.Purple" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.CreateGroupActivity"
            android:label="@string/title_activity_create_group"
            android:theme="@style/AppTheme.Purple" />
        <activity
            android:name=".activities.GroupActivity"
            android:label="@string/title_activity_group"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GroupListActivity"
            android:label="@string/title_activity_create_group"
            android:theme="@style/AppTheme.Purple" />
        <activity
            android:name=".activities.InvitationListActivity"
            android:label="@string/my_invites"
            android:theme="@style/AppTheme.Purple" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDyBvCTnNb-vFUtkGVme_tTeNhUPApqbic" />

        <activity android:name=".activities.MemberListActivity"></activity>
    </application>

</manifest>